{% extends 'base.html' %}
{% block title %}
Add Container | Warehouse
{% endblock title %}
{% block content %}

<style>
    ul {
        list-style: none;
        padding: 0;
    }
</style>

<h1>Enter the Container</h1>

 <div class="form-group">
 
    {% if errormessage  %}
<div class="alert alert-danger fade show" role="alert">
    {{errormessage}}

</div>
{% endif %}

    <form class="was-validated" method="POST" action="{% url "add_container" %}">
        {% csrf_token %}
        {{forms.non_field_error}}
        
        {% for field in forms %}
            {{field.label_tag}} {{field}}<br>
            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                {{field.errors}}
            </div>
        {% endfor %}
<input type="submit" class="btn btn-success" value="Add Container"></input>

    </form>
</div>

{% endblock %}